@charset "ISO-8859-1";

nav {
	background-color: cadetblue;
}

.nav-form {
	display: flex;
}

.nav-form input[type="submit"],
.nav-form a {
	flex-basis: 0;
	flex-grow: 1;
	flex-shrink: 5;
	padding: 15px;
	background-color: cadetblue;
	font-size: 18px;
	border: none;
	cursor: pointer;
	color: white;
}

.nav-form a {
	text-decoration: none;
	text-align: center;
	font-weight: bold;
    padding: 18px 15px 12px;
}

.nav-form input[type="submit"]:hover,
.nav-form a:hover,
button > a:hover,
input[value="Logout"]:hover {
	color: #ffcc66;
}

#user-name-container {
	flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 2;
    padding: 15px;
    background-color: cadetblue;
    text-align: center;
    color: #ffcc66;
    font-size: 22px;
    position: relative;
    cursor: pointer;
}

.user-name {
    font-size: 23px;
    font-weight: bold;
    text-shadow: 2px 2px forestgreen;
}

#menu-icon {
    padding: 15px;
    font-size: 25px;
    color: white;	
    display: none;
}

table {
	display: flex;
	flex-direction: column;	
	margin-top: 10px;
	clear: both;
}

tr {
	display: flex;
	padding: 5px 0px;
}

td,th {
	flex-basis: 0;
	flex-grow: 2;
	text-align: center;
	padding: 10px;
}

th {
	background-color: lightsteelblue;
}

tr:nth-child(2n) {
    background: linear-gradient(to right, white, aliceblue);
}

tr:nth-child(4n) {
    background: linear-gradient(to right, aliceblue, white);
}

.flex-grow-1 {
	flex-grow: 1;
}

div.back-btn {
	width: fit-content;
	margin : 30px auto 0 auto;
}

.back-btn button {
	background: cadetblue;
}

button > a {
	text-decoration: none;
	display: inline-block;
	padding: 10px 20px;
	font-size:18px;
	color: white;
}

input[value="Logout"] {
	float: right;
    width: 300px;
    padding: 15px;
    background-color: cadetblue;
    font-size: 18px;
    border: 2px solid cornflowerblue;
    cursor: pointer;
    color: white;
    position: absolute;
    right: 7px;
}

.display-none {
	display: none;
}

.display-block {
	display: block;
}

input {
	outline: none;
}

input[type="submit"] {
	cursor: pointer;
}

input[disabled] {
	cursor: auto;
}

.red-button {
	background-color: #f44336;
	color: white;
    padding: 5px 10px;
    font-size: 16px;
    border: none;
}

.green-button {
	background-color: #4CAF50;
	color: white;
    padding: 5px 10px;
    font-size: 16px;
    border: none;
}


@media screen and (max-width : 800px) and (min-width : 200px) {
	
	.nav-form {
		position: relative;
		display: block;
	}
	
	.nav-form input[type="submit"],
	#user-name-container {
		display: none;
	}
	
	#menu-icon {
		display: inline-block;
	    float: right;
	    cursor: pointer;
	}
	
	.nav-form a {
		text-align: left;
		display:inline-block;
	}
	
	.nav-form.display-menu input[type="submit"] {
	    display: block;
	    width: 100%;
	    background-color: grey;
	    text-align: left;
	}
	
	.nav-form.display-menu > #menu-icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	
	.nav-form.display-menu input[type="submit"]:hover {
		background: #333;
	}
	
	#logout {
		position: static;
		display: block;
	    width: 100%;
	    text-align: left;
	    background: gray;
	    border: none;
	}
	
}